@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import './normalise.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Kumbh Sans', sans-serif;
         font-size: 62.5%; 
    }
  }

.header{
    background-image: url(/src/assets/mobile/bg-pattern-header.svg);
}

.card{
    background-color: theme(colors[cardsBg]) ;
    border-radius: 6px;
}
.dark .btn-2{
  background-color: #eeeffc;
  color: theme(colors[lightCyan]);
}

h1{
    color: white;
    font-size: 3rem;
}
p{
 color: theme(colors[textColor]);
 font-size: 1.6rem;
 font-weight: 500;
}

img{
    cursor: pointer;
}
main,.card {
  transition: background .5s ease-in ;
}

.dark h2 ,
.dark h1,
.dark h3{
     color: #19202D; 
     transition: color .5s ease-in;
}

 button{
    transition: all .5s ease-in;
     
}

 .toggler{
    transition: transform .4s ease-in;
}


.searchBar input{
  background-color: transparent;
  font-size: 1.5rem;
  outline: none;
  margin-left: 14px;
  font-weight: 600;
  color: white;
}


/* modal overlay */

@media screen and (max-width:768px) {

        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            
          }
 
        }
    



.modal{
/* height: 300px; */
margin: 3rem;
position: relative;
top: 20%;
}






/* Customize the label (the container) */
.checkbox-Container {
  display: block;
  position: relative;
 padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  bottom: 4px;
  margin-right: 10px;
  left: 10px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-Container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-Container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-Container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-Container input:checked ~ .checkmark:after {
  display: block;
}

.dark .card{
  background-color: white;
}
/* Style the checkmark/indicator */
.checkbox-Container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.error-msg{
  color: red;
}