@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Kumbh Sans', sans-serif;
         font-size: 62.5%; 
    }
  }

header{
    background-image: url(/src/assets/mobile/bg-pattern-header.svg);
}

.card{
    background-color: theme(colors[cardsBg]) ;
    border-radius: 10px;
}

h1{
    color: white;
    font-size: 3rem;
}
p{
 color: theme(colors[textColor]);
 font-size: 1.4rem;
}

